/* ------------------------------------------- SASS Information
 Name:      _index.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
.page-index {

}