// ------------------------------------------- SASS Information
//  Name:      mixins/_clearfix.scss
//  Author:    Loxis
// -----------------------------------------------------------

@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020";
  }
  &:after {
    clear: both;
  }
}
