/* ------------------------------------------- SASS Information
 Name:      _fuga.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
.page-fuga {

}