/* ------------------------------------------- SASS Information
 Name:      _hoge_fuga.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
.page-hoge_fuga {

}