/* ------------------------------------------- SASS Information
 Name:      _hoge.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
.page-hoge {

}