/* ------------------------------------------- SASS Information
 Name:      bases/_default.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
body {
  background: $BASE_COLOR;
  color: $FONT_COLOR;
  font-size: $FONT_SIZE;
  font-family: $FONT_FAMILY;
  // iPhone text fix
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: $LINK_COLOR;
  line-height: $LINE_HEIGHT;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6, p {
  line-height: $LINE_HEIGHT;
  font-weight: normal;
}

img {
  vertical-align: bottom;
}

.iphoneX {
  padding-top: constant(safe-area-inset-top);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

// UIWebkit では上記が聞かないので 使用する場合はコメントアウト解除
//
// @media screen and (orientation: portrait) {
//   .iphoneX {
//     padding-top: 44px;
//     padding-bottom: 34px;
//     padding-left: 0px;
//     padding-right: 0px;
//   }
// }
//
// @media screen and (orientation: landscape) {
//   .iphoneX {
//     padding-top: 0px;
//     padding-bottom: 21px;
//     padding-left: 44px;
//     padding-right: 44px;
//   }
// }