/* ------------------------------------------- SASS Information
 Name:      _fuga.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
.page-fuga {
  background: #fff;
}

@media only screen and (min-width: 781px) {
  .page-fuga {
    background: #fff;
  }
}

@media only screen and (max-width: 780px) {
  .page-fuga {
    background: #fff;
  }
}