/* ------------------------------------------- SASS Information
 Name:      _hoge.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
.page-hoge {

}

@include RESPONSIVE('PC', $MIN_WIDTH) {
  .page-hoge {

  }
}

@include RESPONSIVE('SP', $MIN_WIDTH) {
  .page-hoge {

  }
}