/* ------------------------------------------- SASS Information
 Name:      _hoge.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
.page-hoge {

}

@media only screen and (min-width: $MIN_WIDTH + 1) {
  .page-hoge {

  }
}

@media only screen and (max-width: $MIN_WIDTH) {
  .page-hoge {

  }
}