/* ------------------------------------------- SASS Information
 Name:      _index.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
.page-index {

}

@include RESPONSIVE('PC', $MIN_WIDTH) {
  .page-index {

  }
}

@include RESPONSIVE('SP', $MIN_WIDTH) {
  .page-index {

  }
}