// ------------------------------------------- SASS Information
//  Name:      _config.scss
//  Author:    Loxis
// -----------------------------------------------------------

$appConfig: getJson('./src/app.config.json');

$SITE_URL: map-get($appConfig, APP_SITE_URL);
$SITE_NAME: map-get($appConfig, SITE_NAME);
$AUTHOR: map-get($appConfig, AUTHOR);
$MODIFIER: map-get($appConfig, MODIFIER);
$UPDATE: map-get($appConfig, UPDATE);
$TIMESTAMP: '?v=' + map-get($appConfig, TIMESTAMP);

$COMMON_IMG: '../../common/images/';
$IMG: '../images/';

// ------------------------------------------- SASS Information
//  Name:      postcss to scss
//  Author:    Loxis
// -----------------------------------------------------------

@function p2w($url) {
  @return unquote('width(#{$url})');
}

@function p2h($url) {
  @return unquote('height(#{$url})');
}

@function p2s($url) {
  @return unquote('size(#{$url})');
}

@function p2i($url) {
  @return unquote('inline(#{$url})');
}

@function p2c($url) {
  @return unquote('calc(#{$url})');
}