/* ------------------------------------------- SASS Information
 Name:      partials/_footer.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
#section-footer {
  background: #fff;
}