/* ------------------------------------------- SASS Information
 Name:      bases/_default.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
body {
  background: $BASE_COLOR;
  color: $FONT_COLOR;
  font-size: $FONT_SIZE;
  font-family: $FONT_FAMILY;
  // iPhone text fix
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: $LINK_COLOR;
  line-height: $LINE_HEIGHT;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6, p {
  line-height: $LINE_HEIGHT;
  font-weight: normal;
}

img {
  vertical-align: bottom;
}