/* ------------------------------------------- SASS Information
 Name:      partials/_content.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
#section-contents {

}

@include RESPONSIVE('PC', $MIN_WIDTH) {
  #section-contents {

  }
}

@include RESPONSIVE('SP', $MIN_WIDTH) {
  #section-contents {

  }
}