/* ------------------------------------------- SASS Information
 Name:      partials/_footer.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
#section-footer {

}

@include RESPONSIVE('PC', $MIN_WIDTH) {
  #section-footer {

  }
}

@include RESPONSIVE('SP', $MIN_WIDTH) {
  #section-footer {

  }
}