/* ------------------------------------------- SASS Information
 Name:      partials/_header.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
#section-header {
  background: #fff;
}