/* ------------------------------------------- SASS Information
 Name:      partials/_wrapper.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
#section-wrapper {

}

@include RESPONSIVE('PC', $MIN_WIDTH) {
  #section-wrapper {

  }
}

@include RESPONSIVE('SP', $MIN_WIDTH) {
  #section-wrapper {

  }
}