/* ------------------------------------------- SASS Information
 Name:      partials/_contents.scss
 Author:    #{$AUTHOR}
 Modifier:  #{$MODIFIER}
----------------------------------------------------------- */
#section-contents {
  background: #fff;
}